<article class="reminder">
  <h3>{{reminder.title}}</h3>
  <div class="detail owner">
    <span>Owner:</span> {{reminder.date}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{reminder.notes}}
  </div>
</article>
