.active {
  background-color: peru;
  color: pink;
}

a {
  text-decoration: none;
}

.header {
  background-color: limegreen;
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 32px;
  align-items: center;
}

.add-new-reminder {
  display: flex;
  flex-direction: column;
}

.reminder-list-container {
  width: 30%;
  display: inline-block;
  margin: 10px;
}

.display-container {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

.indiv-reminder-display {
  width: 500px;
  padding: 10px;
  border-radius: 2.5px;
  margin: 10px;
}

.spec-reminder-item {
  display: flex;
  flex-direction: row;
}
.spec-reminder-item p {
  margin-left: 5px;
}

.add-reminder-btn {
  width: 100px;
}

.btn:hover {
  cursor: pointer;
}

.reminder-status {
  color: green;
}

.tay-tay {
  color: red;
}
