.active {
  background-color: peru;
  color: pink;
}

a {
  text-decoration: none;
}

.add-new-reminder {
  display: flex;
  flex-direction: column;
}

.reminder-list-container {
  width: 30%;
  display: inline-block;
}

.display-container {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}
