.active {
  background-color: peru;
  color: pink;
}

a {
  text-decoration: none;
}

.header {
  background-color: limegreen;
}

.add-new-reminder {
  display: flex;
  flex-direction: column;
}

.reminder-list-container {
  width: 30%;
  display: inline-block;
}

.display-container {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

.indiv-reminder-display {
  width: 500px;
  padding: 10px;
  border-radius: 2.5px;
}

.add-reminder-btn {
  width: 100px;
}
